:root {
    --gray: #eee;
    --green: #b4d3a7;
    --orange: #f07f5f;
    --middlegreen: #c6dab5;
    --lightgreen: #dde5ce;
    --brightorange: #e84841;
}

body {
    background: #eee;
}




/*title*/
.our_news_h1 {
    color: var(--brightorange);
    font-family: "Comfortaa", sans-serif;
}

/*общие стили блоков*/
.news_1,
.news_2,
.news_3,
.news_4,
.news_4_inside {
    background: white;
    border-radius: 10px;
}

/*общие стили фото*/

.news_1-photo,
.news_2-photo-1,
.news_2-photo-2,
.news_2-photo-3,
.news_3-photo-1,
.news_3-photo-2,
.news_3-photo-3,
.news_4_inside-photo-1,
.news_4_inside-photo-2,
.news_4_inside-photo-3 {
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    overflow: hidden !important;
}

/*размеры и путь фото Блок 1*/
.news_1-photo {
    background-image: url(../images/Image.jpg);
    min-height: 300px;
    min-width: 280px;
}

/*размеры фото Блок 2*/
.news_2-photo-1,
.news_2-photo-2,
.news_2-photo-3 {
    min-height: 630px;
    min-width: 280px;
}

.news_2-photo-1 {
    background-image: url(../images/Image_1.jpg);
}

.news_2-photo-2 {
    background-image: url(../images/Image_2.jpg);
}

.news_2-photo-3 {
    background-image: url(../images/Image_3.jpg);
}

/*размеры фото Блок 2*/
.news_3-photo-1,
.news_3-photo-2,
.news_3-photo-3 {
    min-height: 450px;
    min-width: 280px;
}

.news_3-photo-1 {
    background-image: url(../images/Image_7.jpg);
}

.news_3-photo-2 {
    background-image: url(../images/Image_9.jpg);
}

.news_3-photo-3 {
    background-image: url(../images/Image_6.jpg);
}

/*размеры фото Блок 3*/
.news_4_inside-photo-1,
.news_4_inside-photo-2,
.news_4_inside-photo-3 {
    min-height: 600px;
    min-width: 280px;
}

.news_4_inside-photo-1 {
    background-image: url(../images/Image_11.jpg);
}

.news_4_inside-photo-2 {
    background-image: url(../images/Image_12.jpg);
}

.news_4_inside-photo-3 {
    background-image: url(../images/Image_13.jpg);
}

/*ссылка на сторонний сайт*/
.news-text a {
    text-decoration: none;
}