/* Основные цвета */
:root {
  --green: #b4d3a7;
  --orange: #f07f5f;
  --middlegreen: #c6dab5;
  --lightgreen: #dde5ce;
  --brightorange: #e84841;
}

/* Заголовок страницы */
.projects-page__h1 {
  font-family: "Comfortaa", sans-serif;
  color: var(--brightorange);
  margin-top: 5vw;
  margin-bottom: 5vw;
}

/* Цвет фона всей страницы */

body {
  background-color: #eee;
}

/* Общие стили для карточки */

.projects-page__card {
  max-width: 450px;
  margin: auto;
}

.projects-page__card-title {
  font-family: "Comfortaa", sans-serif;
  color: var(--brightorange);
}

.card-img-top {
  max-height: 300px;
}
.projects-page__card-footer {
  background-color: white;
  border-top: none;
}

.card-footer__orange-btn {
  background-color: var(--brightorange);
  border-color: var(--brightorange);
  margin-top: 5px;
}

.card-footer__white-btn {
  color: var(--brightorange);
  border-color: var(--brightorange);
  margin-top: 5px;
}

.card-footer__orange-btn:hover,
.card-footer__white-btn:hover {
  background-color: var(--green);
  border-color: var(--green);
}

/* Стиль для ссылок */

.contact-link {
  text-decoration: none;
  font-weight: 600;
  color: var(--brightorange);
}

.contact-link:hover {
  color: var(--green);
}
