/* Основные цвета */
:root {
  --gray: #eee;
  --green: #b4d3a7;
  --orange: #f07f5f;
  --middlegreen: #c6dab5;
  --lightgreen: #dde5ce;
  --brightorange: #e84841;
}

/* Шрифт заголовков */
/* font-family: "Pacifico", sans-serif;
   font-family: "Comfortaa", sans-serif; */

/* html {
  scroll-behavior: smooth;
} */

/* Цвет фона всей страницы */

body {
  background-color: #eee;
}

/* Beginning of the header */

.logo {
  width: 150px;
}

.navbar-main {
  background-color: white;
  border-radius: 10px;
}

.nav-link-main {
  font-size: 13px;
  font-weight: 600;
  color: black !important;
}

.nav-link-main:hover {
  color: var(--brightorange) !important;
}

.main_h1 {
  font-family: "Comfortaa", sans-serif;
  color: var(--brightorange);
}

.down {
  width: 30px;
}

/* styles of social media icons */

.social-image {
  fill: var(--brightorange);
}

.social-image:hover {
  fill: var(--green);
}

/* Beginning of the block with owner's photo */

.about-owners {
  background-color: white;
  border-radius: 10px;
}

.owners-photo {
  background-image: url(../assets/images/owners.jpg);
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 300px;
  min-width: 280px;
  border-radius: 10px;
  overflow: hidden !important;
}

/* Beginning of the confidental block */

.politics,
.my-politics {
  background-color: var(--bgcolor);
}

.my-politics:active,
.my-politics:focus {
  background-color: var(--bgcolor);
}

.middle_btn {
  width: 200px !important;
}

.dropp {
  background-color: var(--maingreen);
}

.bg-card {
  background-color: var(--bgcolor);
}

span {
  font-size: 30px;
  font-family: "Pacifico", cursive;
}

.bg-light_salmon {
  background-color: var(--bgcolor);
}

/* I need help block */

.discribe {
  background-color: var(--lightgreen);
}

.discribe__title {
  color: var(--bordercolor);
}

.middle-block {
  display: flex;
  gap: 50px;
}

/* Общие стили для карточки */

.projects-page__card {
  max-width: 450px;
  margin: auto;
  border-radius: 10px;
}

.projects-page__card-title {
  font-family: "Comfortaa", sans-serif;
  color: var(--brightorange);
}

.card-img-top {
  max-height: 300px;
  border-radius: 10px 10px 0 0;
}

.projects-page__card-footer {
  background-color: white;
  border-top: none;
  border-radius: 10px;
}

.card-footer__orange-btn {
  background-color: var(--brightorange);
  border-color: var(--brightorange);
  margin-top: 5px;
  text-decoration: none;
}

.card-footer__white-btn {
  color: var(--brightorange);
  border-color: var(--brightorange);
  margin-top: 5px;
}

.card-footer__orange-btn:hover,
.card-footer__white-btn:hover {
  background-color: var(--green);
  border-color: var(--green);
}

/* Общие стили для карточек СМИ */

.about-us__card {
  max-width: 600px;
  border-radius: 10px;
}

.card-img-about-us {
  max-height: 300px;
  border-radius: 0px 0px 10px 10px;
}

/* Стили для партнеров */

.container-partners {
  background-color: white;
  border-radius: 10px;
}

.partners-item {
  height: 200px;
  width: 200px;
}

.part_1 {
  background-image: url(../assets/images/alfa_bank.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.part_2 {
  background-image: url(../assets/images/cdek.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.part_3 {
  background-image: url(../assets/images/chocolad.jpeg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.part_4 {
  background-image: url(../assets/images/dari_edu.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.part_5 {
  background-image: url(../assets/images/glavparfumer.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.part_6 {
  background-image: url(../assets/images/starost_v_radost.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.part_7 {
  background-image: url(../assets/images/мтс.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

/* Стили для футера */

.donat-sect,
.under_footer {
  background-color: var(--lightgreen);
}

.btn-donat {
  background-color: var(--bordercolor);
}

.btn-donat:hover {
  background-color: var(--maingreen);
}

.bg-footer {
  background-color: var(--lightgreen);
}

.form-donat {
  max-width: 300px;
}

/* About organization page */
/* .carousel {
  max-width: 600px !important;
  margin: 0 auto;
}

.carousel-inner img {
  max-height: 650px !important;
  margin: 0 auto;
}

.carousel-indicators li {
  border-color: #000;
}

.carousel-indicators .active {
  background-color: #000;
}

.organization_img {
  max-width: 250px;
}

.org-link:hover {
  color: var(--bordercolor) !important;
} */

/* End organization page */
