:root {
    --maingreen: #b4d3a7;
    --bgcolor: #f07f5f;
    --middlegreen: #c6dab5;
    --lightgreen: #dde5ce;
    --bordercolor: #e84841;
    --whitecolor: #fff;
    --green: #b4d3a7;
    --orange: #f07f5f;
    --middlegreen: #c6dab5;
    --lightgreen: #dde5ce;
    --brightorange: #e84841;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Pacifico', cursive;
}

.logo {
    width: 150px;
}

.bg-main {
    background-color: var(--bgcolor);
}

a {
    color: var(--whitecolor);
    font-weight: bold;
}

a:hover {
    color: var(--maingreen);
}

.bg-green {
    background-color: var(--maingreen);
}

.my-text {
    font-family: 'Open Sans', sans-serif;
}

.down {
    width: 30px;
}

.about-owners {
    margin: 0 auto;
}

.owners {
    background-image: url(../assets/images/owners.jpg);
    background-position: top center;
    background-size: contain;
    background-repeat: no-repeat;
    min-height: 300px;
    min-width: 280px;
    overflow: hidden !important;
}

.owner-text {
    min-width: 300px;
}

.my-btn {
    background-color: var(--maingreen);
    border: var(--maingreen);
    padding: 10px 20px;
    color: var(--bordercolor);
}

.my-btn:hover, .my-btn:focus, .my-btn:active {
    background-color: var(--bordercolor);
    color: var(--whitecolor);
}

.politics, .my-politics {
    background-color: var(--bgcolor);
}

.my-politics:active, .my-politics:focus {
    background-color: var(--bgcolor);
}

.middle_btn {
    width: 200px !important;
}

.dropp {
    background-color: var(--maingreen);
}

.social-image {
    fill: var(--bordercolor);
}

.social-image:hover {
    fill: var(--maingreen);
}

.bg-card {
    background-color: var(--bgcolor);
}

span {
    font-size: 30px;
    font-family: 'Pacifico', cursive;
}

.bg-light_salmon {
    background-color: var(--bgcolor);
}

.discribe {
    background-color: var(--lightgreen);
}

.discribe__title {
    color: var(--bordercolor);
}

.bg-sect {
    background-color: var(--maingreen);
}

.text-sect {
    color: var(--bordercolor);
}

.gift-image {
    fill: var(--bordercolor);
}

.middle-block {
    display: flex;
    gap: 50px;
}

.projects {
    background-color: var(--bgcolor);
}

.projects-page__h1 {
    font-family: "Pacifico", sans-serif;
    color: var(--brightorange);
    margin-top: 5vw;
    margin-bottom: 5vw;
}

/* Общие стили для карточки */

.bg-projects {
    background-color: var(--middlegreen);
}

.projects-page__card {
    max-width: 450px;
    margin: auto;
}

.projects-page__card-title {
    font-family: "Pacifico", sans-serif;
    color: var(--brightorange);
}

.card-img-top {
    max-height: 300px;
}

.projects-page__card-footer {
    background-color: white;
    border-top: none;
}

.card-footer__orange-btn {
    background-color: var(--brightorange);
    border-color: var(--brightorange);
    margin-top: 5px;
}

.card-footer__white-btn {
    color: var(--brightorange);
    border-color: var(--brightorange);
    margin-top: 5px;
}

.card-footer__orange-btn:hover,
.card-footer__white-btn:hover {
    background-color: var(--green);
    border-color: var(--green);
}

.articles-link {
    color: var(--bordercolor);
}

.donat-sect, .under_footer {
    background-color: var(--lightgreen);
}

.btn-donat {
    background-color: var(--bordercolor);
}

.btn-donat:hover {
    background-color: var(--maingreen);
}

.bg-footer {
    background-color: var(--lightgreen);
}

.form-donat {
    max-width: 300px;
}