:root {
  --maingreen: #b4d3a7;
  --bgcolor: #f07f5f;
  --middlegreen: #c6dab5;
  --lightgreen: #dde5ce;
  --bordercolor: #e84841;
  --whitecolor: #fff;
  --green: #b4d3a7;
  --orange: #f07f5f;
  --middlegreen: #c6dab5;
  --lightgreen: #dde5ce;
  --brightorange: #e84841;
}

html {
  scroll-behavior: smooth;
}

/* Заголовок страницы */
.about__h1 {
  font-family: "Comfortaa", sans-serif;
  color: var(--brightorange);
  margin-top: 5vw;
  margin-bottom: 5vw;
}

/* Заголовок 3 уровня */
.about__h3 {
  font-family: "Comfortaa", sans-serif;
  color: var(--brightorange);
  margin-top: 1vw;
  margin-bottom: 1vw;
}

/* About organization page */
.carousel {
  max-width: 600px !important;
  margin: 0 auto;
}

.carousel-inner img {
  max-height: 650px !important;
  margin: 0 auto;
}

.carousel-indicators li {
  border-color: #000;
}

.carousel-indicators .active {
  background-color: #000;
}

.organization_img {
  max-width: 250px;
}

.org-link:hover {
  color: var(--bordercolor) !important;
}

/* End organization page */
