/* Основные цвета */
:root {
  --gray: #eee;
  --green: #b4d3a7;
  --orange: #f07f5f;
  --middlegreen: #c6dab5;
  --lightgreen: #dde5ce;
  --brightorange: #e84841;
}

html {
  scroll-behavior: smooth;
}

/* Цвет фона всей страницы */

body {
  background-color: var(--gray);
}

/* Заголовок страницы */
.about__h1 {
  font-family: "Comfortaa", sans-serif;
  color: var(--brightorange);
  margin-top: 5vw;
  margin-bottom: 5vw;
}

/* Заголовок 3 уровня */
.about__h3 {
  font-family: "Comfortaa", sans-serif;
  color: var(--brightorange);
  margin-top: 1vw;
  margin-bottom: 1vw;
}

/* About organization page */

.btn-check:focus + .btn,
.btn:focus {
  outline: 0;
  box-shadow: none;
}

.about-container-white {
  border-radius: 10px;
  border: var(--orange) solid 1px;
}

.text-history {
  text-indent: 30px;
}

.team__card {
  max-width: 300px;
  margin: auto;
}
.card-img-top {
  max-height: 200px;
}

.carousel {
  max-width: 600px !important;
  margin: 0 auto;
}

.carousel-inner img {
  max-height: 650px !important;
  margin: 0 auto;
}

.carousel-indicators li {
  border-color: #000;
}

.carousel-indicators .active {
  background-color: #000;
}

.org-link {
  color: black !important;
  text-decoration: none;
}

.org-link:hover {
  color: var(--brightorange) !important;
}

.contact-link {
  color: var(--brightorange) !important;
  text-decoration: none;
}

.contact-link:hover {
  color: var(--green) !important;
}

.accordion-button:not(.collapsed) {
  color: black;
  background-color: var(--lightgreen);
  border-color: var(--green);
  box-shadow: 0 0 0 0.25rem #b4d3a7;
}

.accordion-button:focus {
  border-color: var(--green);
  outline: 0;
  box-shadow: 0 0 0 0.25rem #b4d3a7;
}

.accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='green'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}
