/* Основные цвета */
:root {
  --green: #b4d3a7;
  --orange: #f07f5f;
  --middlegreen: #c6dab5;
  --lightgreen: #dde5ce;
  --brightorange: #e84841;
}

/* Цвет фона всей страницы */

body {
  background-color: #eee;
}

/* Заголовок страницы */
.photos-page__h1 {
  font-family: "Comfortaa", sans-serif;
  color: var(--brightorange);
  margin-top: 5vw;
}

.photos-page__h2 {
  font-family: "Comfortaa", sans-serif;
  color: var(--brightorange);
  margin-top: 3vw;
  margin-bottom: 1vw;
}

/* Общие стили для каруселей */

.carousel-caption-photos {
  background-color: rgba(107, 106, 106, 0.735);
  border-radius: 20px;
}
